doctype html
html
  head
    meta(charset="UTF-8")
    title Prooooood
    link(rel="stylesheet" href='/' + fingerprint['css/build.css'])
  body
    block body
      .layout
        block main
    script(src='/' + fingerprint['js/build.js'])
